:root
{
	--leftInnerDivPcWidth:510px;
	--backTopColor:#00a884;
	--backBottomColor:#dedfdd;
	--contactsColor:#ffffff;
	--chatColor:#efeae2;
	--selectedContactColor:#f0f2f5;
}

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	transition: all 300ms;
}

#topBackDiv
{
	position: fixed;
	top: 0;
	background-color: var(--backTopColor);
	width: 100%;
	height: 127px;
}

#bottomBackDiv
{
	position: absolute;
	bottom: 0;
	height: calc( 100% - 127px );
	width: 100%;
	background-color: var(--backBottomColor);
}

#main
{
	position: absolute;
	top: 20px;
	bottom: 10px;
	left: 110px;
	right: 110px;
	background-color: #f0f2f5;
}

#mainLeftDiv
{
	position: fixed;
	top: 20px;
	left: 110px;
	bottom: 20px;
	width: var(--leftInnerDivPcWidth);
	background-color: var(--contactsColor);
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-content: flex-start;
	overflow: auto;
}

#mainRightDiv
{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: calc( 100% - var(--leftInnerDivPcWidth) );
	background-color: var(--chatColor);
}
.allChats
{
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 60px;
	flex-grow: 1;
	overflow: auto;
}

.actualChatBox
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	flex-grow: 1;
	display: flex;
	flex-flow: column nowrap;
	background-color: #efeae2;
	padding: 50px;
	overflow: auto;
}

::-webkit-scrollbar {
	display: none;
  }


#topChatShortcuts
{
	position: relative;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: var(--selectedContactColor);
    padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.mobile h2
{
	font-size: 120%;
}

.shortcuts img
{
 margin: 10px;
}

#chatTopContactInfo
{
	height: 60px;
	width: 100%;
	border-left: 1px solid #d1d7db;
	background-color: var(--selectedContactColor);
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}

.userDp img
{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-size: contain;
}


.shortcuts img
{
	height: 45%;
}

#backToContacts
{
	height: 25px;
	width: 25px;
}

img:active
{
	transform: scale(0.8);
}

.userDp img:active
{
	transform: scale(1);
}

#backToContacts:active
{
	transform: scale(0.8);
}

.displayFlexCol
{
	display: flex;
	flex-flow: column wrap;
	gap: 20px;
}

.lightText
{
	color: #667781;
}

#contactName
{
	font-size: 110%;
}

#searchDiv
{
	height: 50px;
	border-bottom:1px solid #d1d7db;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	flex-grow: 1;
}

#searchDiv input
{
	border-radius: 5px;
	width: 80%;
	border: none;
	margin-left: 20px;
	background-color: var(--selectedContactColor);
}

#searchDiv input:focus
{
	outline: none;
}

#search
{
	flex-grow: 1;
	display: flex;
	margin-left: 10px;
	background-color: var(--selectedContactColor);
	padding: 10px;
	border-radius: 5px;
}

#searchDiv img
{
	height:15px;
	margin: auto 10px;
}

#typingPanel
{
	position:absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--selectedContactColor);
	height: 60px;
	padding: 15px;
	gap: 30px;
}

#typingPanel img
{
	height: 100%;
}

#typingPanel input
{
	position: static;
	flex-grow: 1;
	border: none;
	padding: 20px;
	outline: none;
	border-radius: 5px;
}



/* Messages */
.sender
{
	align-self: flex-end;
	background-color: #d9fdd3;
	display: flex;
	flex-flow: row wrap;
	gap: 10px;

}

.timeOfMsg
{
	transform: translateY(10px);
	color: #667781;
    font-size: 12px;
}

.sender img
{
	align-self: flex-end;
	height: 15px;
}

.receiver
{
  width: calc( fit-content + 10px);
  background-color: #ffffff;
  clip-path: polygon(0 0,100% 0,100% 100%,10px 100%,10px 10px,0 0);
  position: relative;
}

.chatMsg
{
	padding: 15px;
	margin: 1px;
	border-radius: 5px;
	width: fit-content;
}

/* Contact Number */
.contactNumber
{
	width: calc(100% - 10px);
	height: 70px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-end;
	gap: 10px;
}

.contactNumber img
{
	border-radius: 50%;
	align-self: center;
	height: 50px;
	margin-left: 10px;
}

.selectContact
{
	background-color: var(--selectedContactColor);
}

.contactStatus p
{
	margin-right: 10px;
}

.dimColor
{
	color: #667781;
}

.smallFont
{
	font-size: small
}

.contactStatus
{
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
	border-bottom: 1px solid var(--selectedContactColor);
}

.contactStatus:hover
{
	cursor: pointer;
}

img:hover
{
	cursor: pointer;
}

.hidden
{
	display: none;
}

.mobile
{
	display: none;
}

@media all and (width<1200px)
{

	.desktop
	{
		display:none;
	}

	.mobile
	{
		display: block;
	}

	#mainLeftDiv
	{
		width: calc(100% - 220px);
	}
	
	#mainRightDiv
	{
		 width: 100%; 
	}
}

@media all and (width<700px)
{
  #main
  {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0;
  }

  #mainLeftDiv
	{
		position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
		width: 100%;
		height: 100%;
	}
	
	#mainRightDiv
	{
		position: fixed;

		 height: 100%;
	}

	.actualChatBox p
	{
		margin: 10px 0;
	}

	.actualChatBox
	{
		padding: 1px;
		font-size: 12px;
	}

	#chatTopContactInfo
	{
		padding: 13px 0;
	}

	#lastSeen
	{
		font-size: 10px;
	}

	.timeOfMsg
	{
		font-size: 8px;
	}
	
}




